@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  min-height: 600px;
}

@layer components {
  .bg-main-up {
    background: url("/img/bg/up.gif") no-repeat center center fixed; 
    min-height: 600px;
    background-size: cover;
    content-visibility: auto;
  }
}

@layer components {
  .bg-main-dn {
    background: url("/img/bg/dn.gif") no-repeat center center fixed;
    min-height: 600px;
    background-size: cover;
    content-visibility: auto;
  }
}

@layer components { 
  .bg-faq {
    background: url("/img/bg/faq.gif") no-repeat center center fixed; /*CHANGE IMAGE*/
    min-height: 600px;
    background-size: cover;
    content-visibility: auto;
  }
}