@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/background_1.jpg") no-repeat center center fixed; 
  min-height: 600px;
  background-size: cover;
}

@layer components {
  .bg-alt {
    background: url("/background_2.jpg") no-repeat center center fixed;
    min-height: 600px;
    background-size: cover;
  }
}