@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  min-height: 600px;
}

@layer components {
  .bg-alt-1 {
    background: url("/img/bg/up.webp") no-repeat center center fixed; 
    min-height: 600px;
    background-size: cover;
    content-visibility: auto;
  }
}

@layer components {
  .bg-alt-2 {
    background: url("/img/bg/dn.webp") no-repeat center center fixed;
    min-height: 600px;
    background-size: cover;
    content-visibility: auto;
  }
}

@layer components { 
  .bg-alt-3 {
    background: url("/img/bg/dn.webp") no-repeat center center fixed; /*CHANGE IMAGE*/
    min-height: 600px;
    background-size: cover;
    content-visibility: auto;
  }
}